<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MandaDatosServicioWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MandaDatosServicioWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <MandaDatosServicioWeb.Properties.Settings>
            <setting name="MandaDatosServicioWeb_localhost_Service1" serializeAs="String">
                <value>http://localhost:1067/Service1.asmx</value>
            </setting>
            <setting name="MandaDatosServicioWeb_RecibeDatos_WebService1"
                serializeAs="String">
                <value>http://localhost:52893/webService1.asmx</value>
            </setting>
            <setting name="MandaDatosServicioWeb_Sitiodesarrollosoftwarecontable_WebService1"
                serializeAs="String">
                <value>http://www.desarrollosoftwarecontable.com/webservice1.asmx</value>
            </setting>
            <setting name="MandaDatosServicioWeb_aloneservice_WebService1"
                serializeAs="String">
                <value>http://localhost:16322/WebService1.asmx</value>
            </setting>
        </MandaDatosServicioWeb.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MandaDatosServicioWeb.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value />
            </setting>
            <setting name="database" serializeAs="String">
                <value />
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="correoprueba" serializeAs="String">
                <value />
            </setting>
            <setting name="correoreply" serializeAs="String">
                <value />
            </setting>
            <setting name="Periodicidad" serializeAs="String">
                <value />
            </setting>
            <setting name="Dia" serializeAs="String">
                <value />
            </setting>
            <setting name="Hora" serializeAs="String">
                <value />
            </setting>
            <setting name="Hora2" serializeAs="String">
                <value />
            </setting>
            <setting name="Banco" serializeAs="String">
                <value />
            </setting>
            <setting name="Cuenta" serializeAs="String">
                <value />
            </setting>
            <setting name="CLABE" serializeAs="String">
                <value />
            </setting>
            <setting name="correoconfirmacion" serializeAs="String">
                <value />
            </setting>
            <setting name="RFCBanco" serializeAs="String">
                <value />
            </setting>
            <setting name="RazonSocialBanco" serializeAs="String">
                <value />
            </setting>
            <setting name="correoSalida" serializeAs="String">
                <value />
            </setting>
            <setting name="hostsmtp" serializeAs="String">
                <value />
            </setting>
            <setting name="puerto" serializeAs="String">
                <value />
            </setting>
            <setting name="ssl" serializeAs="String">
                <value />
            </setting>
            <setting name="emaildestino" serializeAs="String">
                <value />
            </setting>
            <setting name="cuentaemail" serializeAs="String">
                <value />
            </setting>
            <setting name="pwdMail" serializeAs="String">
                <value />
            </setting>
        </MandaDatosServicioWeb.Properties.Settings>
    </userSettings>
</configuration>